<!doctype html>
<html>
    <head>
        <title>Gezellig Records</title>
        <link rel="stylesheet" href="../css/artists-page-style.css"/>
    </head>
    <body>

        <div id="main">

            <div id="overlay"><a id="homepage-link" href="/"></a></div>

            <div>
                <img id="logo" src="../img/logo.jpg"/>
                <h1 id="brand">gezellig records</a></h1>
            </div>

            <div id="navbar">
                <ul>
                {{#header}}
                    <li><a href="{{ref}}">{{title}}</a></li>
                {{/header}}
                </ul>
            </div>

            <div class="divider"></div>

            <div class="content">
                {{#artists}}
                <div class="artist-box">
                    <a href="{{artistPage}}">
                        <div class="overlay">
                            <h2>{{name}}</h2>
                        </div>
                        <img src="{{image}}"/>
                    </a>
                </div>
                {{/artists}}

                <div class="artist-box" id="hidden"></div>
                <div class="artist-box" id="hidden"></div>
                <div class="artist-box" id="hidden"></div>
            </div>


            <div id="footer">
                <h4>{{footer.copyright}}</h4>

                <a href="{{footer.twitterRef}}" target="_blank">
                    <img id="twitter-link" src="{{footer.twitterImg}}"/>
                </a>
                <a href="{{footer.contactRef}}" target="_blank">
                    <img id="contact-link" src="{{footer.contactImg}}"/>
                </a>

                <div id="footer-links">
                    <ul>
                    {{#footer.links}}
                        <li><a href="{{ref}}">{{title}} | </a></li>
                    {{/footer.links}}
                    </ul>
                </div>
            </div>

        </div>

    </body>
</html>
