<!doctype html>
<html>
    <head>
        <title>Gezellig Records</title>
        <link rel="stylesheet" href="../css/cozy-club-page-style.css"/>
    </head>
    <body>

        <div id="main">

            <div id="overlay"><a id="homepage-link" href="/"></a></div>

            <div>
                <img id="logo" src="../img/logo.jpg"/>
                <h1 id="brand">gezellig records</a></h1>
            </div>

            <div id="navbar">
                <ul>
                {{#header}}
                    <li><a href="{{ref}}">{{title}}</a></li>
                {{/header}}
                </ul>
            </div>

            <div class="divider"></div>

            <div class="content">

                <h2>{{mainHeader}}</h2>

                <img src="{{image}}"/>

                <div>{{{mainInfo}}}</div>

                <h3>{{upcomingReleasesHeader}}</h3>
                {{#upcomingReleasesInfo}}
                <p>{{upcomingRelease}}</p>
                {{/upcomingReleasesInfo}}

                <h3>{{futureReleasesHeader}}</h3>
                {{#futureReleasesInfo}}
                <p>{{futureRelease}}</p>
                {{/futureReleasesInfo}}

                <h3>{{finePrintHeader}}</h3>
                <div>{{{finePrintInfo}}}</div>

                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="QNA6YGW29MB9L">
                                    <table>
                                        <tr><td><input type="hidden" name="on0" value="Gezellig Records Cozy Club Subscription" style="font-size:0.8vw;">Gezellig Records Cozy Club Subscription</td></tr>
                                        <tr>
                                            <td>
                                                <select name="os0">
        	                                        <option value="Cozy Club USA">Cozy Club USA $150.00 USD</option>
        	                                        <option value="Cozy Club World">Cozy Club World $200.00 USD</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="image" src="http://farm4.static.flickr.com/3597/3318344462_c08a03aa9e_o.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            </form>
                        </td>
                    </tr>
                </table>

            </div>


            <div id="footer">
                <h4>{{footer.copyright}}</h4>

                <a href="{{footer.twitterRef}}" target="_blank">
                    <img id="twitter-link" src="{{footer.twitterImg}}"/>
                </a>
                <a href="{{footer.contactRef}}" target="_blank">
                    <img id="contact-link" src="{{footer.contactImg}}"/>
                </a>

                <div id="footer-links">
                    <ul>
                    {{#footer.links}}
                        <li><a href="{{ref}}">{{title}} | </a></li>
                    {{/footer.links}}
                    </ul>
                </div>
            </div>

        </div>

    </body>
</html>
