<!doctype html>
<html>
    <head>
        <title>Gezellig Records</title>
        <link rel="stylesheet" href="../css/style.css"/>
    </head>
    <body>
        <div id="main">

            <div id="overlay"><a id="homepage-link" href="/"></a></div>

            <div>
                <img id="logo" src="../img/logo.jpg"/>
                <h1 id="brand">gezellig records</a></h1>
            </div>

            <div id="navbar">
                <ul>
                {{#header}}
                    <li><a href="{{ref}}">{{title}}</a></li>
                {{/header}}
                </ul>
            </div>

            <div class="divider"></div>

            <div id="releases">

                <div id="releases-banner">
                    <h3>{{releasesTitle}}</h3>
                </div>

                {{#releases}}
                <div class="release-box">
                    <img class="album-cover" src="{{albumArt}}"/>
                    <div class="releases-text">
                        <p class="album-title">{{title}}</p>
                    </div>
                    <div class="releases-text">
                        <p class="album-artist">{{artist}}</p>
                    </div>
                    <div class="releases-text">
                        <p class="album-link">
                            <a href="{{albumLink}}" target="_blank">{{albumLinkTitle}}</a>
                        </p>
                    </div>
                </div>
                {{/releases}}

            </div>


            <div id="news">

                <div id="news-banner">
                    <h3>{{newsTitle}}</h3>
                </div>

                <div class="news-content">
                    {{#newsArticles}}
                    <div class="article-divider"></div>
                    <div class="article">
                        <h3 id="article-title">{{articleTitle}}</h3>
                        <p id="article-date"><br><br>{{date}}</p>
                        <img id="article-image" src="{{image}}"/>
                        <p id="article-body">{{articleText}}</p>
                    </div>
                    {{/newsArticles}}
                </div>

            </div>


            <div id="footer">

                <h4>{{footer.copyright}}</h4>

                <a href="{{footer.twitterRef}}" target="_blank">
                    <img id="twitter-link" src="{{footer.twitterImg}}"/>
                </a>
                <a href="{{footer.contactRef}}" target="_blank">
                    <img id="contact-link" src="{{footer.contactImg}}"/>
                </a>

                <div id="footer-links">
                    <ul>
                        {{#footer.links}}
                        <li><a href="{{ref}}">{{title}} | </a></li>
                        {{/footer.links}}
                    </ul>
                </div>

            </div>

        </div>
    </body>
</html>
