---
layout: default
---
<div id="left-side">
    <ul>
      {% for post in site.posts %}
          {% if post.layout == 'article' %}
            <li>
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              <br/>
              <p>{{ post.date | date: '%m/%d/%Y' }}</p>
            </li>
          {% endif %}
      {% endfor %}
    </ul>
</div>

<div id="right-side">
    <a class="twitter-timeline" data-width="550" href="https://twitter.com/GezelligRecords"></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
