---
layout: default
---
<div id="shipping-info">
    <h3> Please Allow 2-4 Weeks For Delivery </h3>
</div>
<div id="flex-wrapper">
{% for post in site.categories.items %}
    <div class="item-box">
    {% if post.albumLink != " " %}
        <a href="{{ post.albumLink }}">
    {% else %}
        <a href="{{ site.baseurl }}{{ post.url }}">
    {% endif %}
            <img src="../images/store/{{ post.image }}"/>
        </a>
        <div class="item-info">
            <div class="item-name">
                <p>{{ post.title }}</p>
            </div>
        </div>
    </div>
{% endfor %}

<div class="item-box" id="hidden"></div>
<div class="item-box" id="hidden"></div>
<div class="item-box" id="hidden"></div>
</div>
