<div id="footer">
    <h4>Gezellig Records &copy; 2016</h4>

    <a href="https://twitter.com/gezelligrecords">
        <img id="twitter-link" src="{{ site.baseurl }}/assets/img/twitter_icon.png"/>
    </a>
    <a href="http://bandcamp.com/contact?b=1169524795&n=Gezellig%20Records">
        <img id="contact-link" src="{{ site.baseurl }}/assets/img/email_icon.png"/>
    </a>

    <div id="footer-links">
        <ul>
            <li><a href="{{ site.baseurl }}/news">news</a></li>
            <li><p>|</p></li>
            <li><a href="{{ site.baseurl }}/artists">artists</a></li>
            <li><p>|</p></li>
            <li><a href="{{ site.baseurl }}/releases">releases</a></li>
            <li><p>|</p></li>
            <li><a href="{{ site.baseurl }}/shows">shows</a></li>
            <li><p>|</p></li>
            <!-- <li><a href="{{ site.baseurl }}/store">store</a></li> -->
            <li><a href="https://gezelligrecords.bandcamp.com/merch" target="_blank">store</a></li>
            <li><p>|</p></li>
            <li><a href="{{ site.baseurl }}/cozyclub">cozy club</a></li>
            <li><p>|</p></li>
            <li><a href="{{ site.baseurl }}/about">about</a></li>
        </ul>
    </div>
</div>
