<footer>
    <div class="footer-copyright">
        <img class="footer-copyright-logo" src="{{ site.baseurl }}/assets/img/logo-min.png" alt="gezellig records logo">
        <p class="footer-copyright-text">Gezellig Records &copy; 2016</p>
    </div>
    <div class="footer-links">
        <ul class="left-footer-link-list">
            <li class="footer-link"><a href="https://gezelligrecords.bandcamp.com/merch" target="_blank">store</a></li>
            <li class="footer-link"><a href="{{ site.baseurl }}/cozyclub">cozy club</a></li>
            <li class="footer-link"><a href="{{ site.baseurl }}/about">about</a></li>
            <li class="footer-link"><a href="mailto:gezelligrecords@gmail.com">contact</a></li>
        </ul>
        <ul class="right-footer-link-list">
            <li class="footer-link"><a href="{{ site.baseurl }}/news">news</a></li>
            <li class="footer-link"><a href="{{ site.baseurl }}/artists">artists</a></li>
            <li class="footer-link"><a href="{{ site.baseurl }}/releases">releases</a></li>
            <li class="footer-link"><a href="{{ site.baseurl }}/shows">shows</a></li>
        </ul>
    </div>
    <div class="social-links">
        <div class="social-link-wrapper">
            <a href="https://www.facebook.com/gezelligrecords/" target="_blank"><img class="social-media-button" src="{{ site.baseurl }}/assets/img/social-media-buttons/facebook.svg" alt="facebook logo"></a>
            <a href="https://twitter.com/gezelligrecords" target="_blank"><img class="social-media-button"
            src="{{ site.baseurl }}/assets/img/social-media-buttons/twitter.svg" alt="twitter logo"></a>
            <a href="https://gezelligrecords.bandcamp.com/" target="_blank"><img class="social-media-button" src="{{ site.baseurl }}/assets/img/social-media-buttons/bandcamp.svg" alt="bandcamp logo"></a>
            <a href="https://soundcloud.com/gezelligrecords" target="_blank"><img class="social-media-button" src="{{ site.baseurl }}/assets/img/social-media-buttons/soundcloud.svg" alt="soundcloud logo"></a>
        </div>
    </div>
</footer>
