.footer-links {
    display: flex;
    flex-direction: column;
}

.left-footer-link-list {
    order: 1;
    list-style-type: none;
    margin: 0 1em;
    padding: 0;
    float: left;
    clear: left;
}

.right-footer-link-list {
    order: 2;
    list-style-type: none;
    margin: 0 1em;
    padding: 0;
    float: left;
    clear: left;
}

.footer-link a {
    display: block;
    text-decoration: none;
    color: #555;
    padding: 0.6em;
    font-size: 1.2em;
}

@media only screen and (min-width: 769px) {
    .footer-links {
        display: inline;
    }

    .left-footer-link-list {
        float: right;
        clear: none;
        margin-top: 4em;
        margin-right: 2em;
    }

    .right-footer-link-list {
        float: right;
        clear: none;
        margin-top: 4em;
    }

    .footer-link a {
        padding: 0.2em;
    }
}
