.home-page-flex-mobile-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.home-page-releases, .home-page-news {
    width: 100%;
    min-height: 50em;
}

.home-page-releases {
    float: left;
    background: red;
}

.home-page-releases-banner {
    float: left;
    height: 2.5em;
    width: 100%;
    margin-top: 1.5em;
    background-color: black;
}

.home-page-releases-banner h3, .home-page-news-banner h3 {
    font-family: "Drogowskaz";
    color: white;
    float: left;
    font-size: 1.5em;
    margin: 0.3em;
}

.home-page-release-box {
    float: left;
    width: 100%;
    border: solid black 2px;
    margin: 1.5em 0 0 0;
    display: table;
    position: relative;
    box-sizing: border-box;
}

.home-page-release-box-image {
    float: left;
    width: 45%;
    display: table-cell;
}

.home-page-release-box-image img {
    max-width: 100%;
    display: table-cell;
}

.home-page-release-box-info {
    float: right;
    width: 55%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
}

.home-page-release-box-info p, .home-page-release-box-link {
    text-align: center;
    margin: 0;
}

.home-page-release-box-title, .home-page-release-box-artist, .home-page-release-box-link {
    height: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page-release-box-title {
    font-style: italic;
    font-family: serif;
    font-size: 1.1em;
}

.home-page-release-box-artist {
    font-family: "Drogowskaz";
    font-weight: bold;
    font-size: 1.1em;
}

.home-page-news {
    float: right;
    clear: left;
    background: blue;
}

.home-page-news-banner {
    float: left;
    height: 2.5em;
    width: 100%;
    margin-top: 1.5em;
    background-color: black;
}

.home-page-news-image {
    float: left;
    height: 12em;
    width: 100%;
    border: solid black 2px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.home-page-news-image img {
    width: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    min-height: 100%;
}

.home-page-news-title-box {
    float: left;
    width: 100%;
    border-bottom: solid black 2px;
    overflow: hidden;
}

.home-page-news-title {
    text-decoration: none;
    color: black;
    font-family: "Drogowskaz";
    float: left;
    text-align: left;
    width: 95%;
    font-size: 1.3em;
    padding: 0.5em;
    display: block;
}

.home-page-news-title:hover {
    color: red;
}

.home-page-news-title-excerpt {
    float: left;
}

@media only screen and (min-width: 425px) {
    .home-page-releases-banner {
        width: 80%;
    }

    .home-page-release-box {
        width: 80%;
        margin-right: 0;
    }

    .home-page-news-image {
        height: 15em;
    }
}

@media only screen and (min-width: 600px) {
    .home-page-releases-banner {
        width: 70%;
    }

    .home-page-release-box {
        width: 70%;
    }

    .home-page-news-banner {
        width: 80%;
    }

    .home-page-news-image {
        width: 80%;
        height: 17em;
    }

    .home-page-news-title-box {
        width: 80%;
    }

    .home-page-news-title {
        width: 75%;
    }
}

@media only screen and (min-width: 769px) {
    .home-page-releases-banner {
        width: 60%;
    }

    .home-page-release-box {
        width: 60%;
    }

    .home-page-news-image {
        height: 20em;
    }
}

@media only screen and (min-width: 900px) {
    .home-page-flex-mobile-wrapper {
        display: block;
    }

    .home-page-releases, .home-page-news {
        width: 50%;
    }

    .home-page-releases-banner {
        width: 80%;
    }

    .home-page-release-box {
        width: 80%;
    }

    .home-page-news {
        clear: none;
    }

    .home-page-news-banner {
        float: left;
        width: 100%;
    }

    .home-page-news-banner h3 {
        float: right;
    }

    .home-page-news-image {
        float: right;
        width: 100%;
        height: 18em;
    }

    .home-page-news-title-box {
        float: right;
        width: 100%;
    }

    .home-page-news-title {
        float: right;
        text-align: right;
        width: 95%;
    }

    .home-page-news-title-excerpt {
        float: right;
    }
}
