.post-content {
    align-items: center;
    margin: 3em auto;
    overflow: auto;
}

.post-title {
    text-align: center;
    font-size: 1.2em;
    margin: 0 2em;
}

.post-date {
    font-family: serif;
    text-align: center;
    margin: 0 auto;
}

.post-image {
    text-align: center;
    margin: 2em auto;
    max-height: 15em;
}

.post-image img {
    max-height: 15em;
    max-width: 100%;
}

.post-body {
    line-height: 1.5em;
    margin: 1em 2em;
}

@media only screen and (min-width: 769px) {
    .post-content {
        width: 50em;
        margin: 5em auto;
    }

    .post-image {
        max-height: 25em;
    }

    .post-image img {
        max-height: 25em;
    }
}
