.profile-content {
    margin: 1.5em;
}

.artist-profile-name {
    font-family: "Drogowskaz";
    font-size: 1.3em;
}

.artist-profile-image {
    max-width: 100%;
}

.bio-text {
    width: 100%;
    line-height: 1.5em;
    color: #555;
}

.artist-profile-divider {
    float: left;
    clear: both;
    border-bottom: 1px solid #555;
    width: 100%;
}

.artist-discography-listing {
    float: left;
    clear: both;
}

.artist-discography-album {
    display: inline-block;
    margin: 1em 0 1em 0;
}

.artist-profile-social-links {
    float: left;
    clear: both;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.artist-profile-social-links li {
    margin: 1.5em 0;
}

.artist-profile-social-link {

}

@media only screen and (min-width: 425px) {
    .profile-content {
        margin: 3em;
    }
}

@media only screen and (min-width: 768px) {
    .artist-profile-image {
        width: 75%;
    }

    .bio-text {
        width: 75%;
    }

    .artist-profile-divider {
        max-width: 75%;
    }
}

@media only screen and (min-width: 1024px) {
    .artist-profile-image {
        width: 50%;
        float: left;
        margin: 0 2em 1em 0;
    }

    .bio-text {
        width: 100%;
    }

    .artist-profile-divider {
        max-width: 50%;
    }
}
