.release-box {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.release-overlay-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.release-box-image-section {
    width: 100%;
    height: 70%;
}

.release-box-image {
    height: 100%;
    width: 100%;
}

.release-box-info-section {
    border-top: 2px solid black;
    color: #555;
}





.temp-wrapper .content-grid-wrapper li {
    padding-top: 45%;
}

@media (max-width: 768px) {
    .temp-wrapper .content-grid-wrapper li {
        padding-top: 70%;
    }
}

@media (max-width: 425px) {
    .temp-wrapper .content-grid-wrapper li {
        padding-top: 145%;
    }
}
