.shows-page-wrapper {
    margin: 0 2em 2em 2em;
}

.shows-page-wrapper h1, .shows-page-wrapper h2, .shows-page-wrapper h3, .shows-page-wrapper h4, .shows-page-wrapper h5, .shows-page-wrapper h6 {
    font-family: "Drogowskaz";
    margin: 2em 0 0 0;
}

.shows-page-wrapper h2 {
    margin-bottom: 2em;
}

.shows-page-wrapper h3 {
    margin: 1.5em 0 0.5em 0;
}

.shows-page-wrapper p, .shows-page-wrapper ul, .shows-page-wrapper ol {
    margin: 0;
    line-height: 2em;
    color: #555;
}

.shows-page-wrapper a {
    text-decoration: none;
    color: red;
}

.shows-page-wrapper a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 769px) {
    .shows-page-wrapper {
        margin: 0 3.5em 3.5em 3.5em;
    }
}
