.about-page-wrapper h3 {
    font-family: "Drogowskaz";
    margin: 2em 0 0 2em;
}

.about-page-wrapper p {
    margin: 1.5em 2.4em;
    line-height: 1.5em;
    color: #555;
}

@media only screen and (min-width: 769px) {
    .about-page-wrapper h3 {
        margin: 3em 0 0 3em;
    }

    .about-page-wrapper p {
        margin: 1.5em 3.5em;
        width: 50em;
    }
}
