.shows-page-wrapper h2 {
    font-family: "Drogowskaz";
    margin: 1em;
}

.shows-page-wrapper h3 {
    font-family: "Drogowskaz";
    margin: 0.5em 2em;
}

.shows-page-wrapper p {
    margin: 0 3em;
    line-height: 2em;
}

.shows-page-wrapper a {
    text-decoration: none;
    color: red;
}

.shows-page-wrapper a:hover {
    text-decoration: underline;
}
