---
layout: default
---
<div class="artist-info-page-wrapper">
    <div class="info-page-content">

        <h2 class="info-page-title">{{ page.artist }}</h2>

        <img class="info-page-image" src="{{ site.baseurl }}/images/{{ page.image }}"/>

        <div class="info-page-text">{{ content }}</div>

        <div class="info-page-divider"></div>

        <div class="info-page-info-list">
            {% assign sorted = (site.album_info | sort: 'GZR') | reverse %}
            {% for album in sorted %}
                {% if album.artist == page.artist %}
                    <div class="info-page-info-list-item">
                        <a href="{{ site.baseurl }}{{ album.url }}">
                            GZR-{{album.GZR | append: ": " | append: album.title}}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="info-page-divider"></div>

        <ul class="info-page-social-links">
            {% if page.website != " " %}
                <li>
                    <a class="info-page-social-link" href="{{ page.website }}" target="_blank">Website</a>
                </li>
            {% endif %}


            {% if page.bandcamp != " " %}
                <li>
                    <a class="info-page-social-link" href="{{ page.bandcamp }}" target="_blank">Bandcamp</a>
                </li>
            {% endif %}


            {% if page.soundcloud != " " %}
                <li>
                    <a class="info-page-social-link" href="{{ page.soundcloud }}" target="_blank">SoundCloud</a>
                </li>
            {% endif %}


            {% if page.facebook != " " %}
                <li>
                    <a class="info-page-social-link" href="{{ page.facebook }}" target="_blank">Facebook</a>
                </li>
            {% endif %}


            {% if page.twitter != " " %}
                <li>
                    <a class="info-page-social-link" href="{{ page.twitter }}" target="_blank">Twitter</a>
                </li>
            {% endif %}


            {% if page.youtube != " " %}
                <li>
                    <a class="info-profile-social-link" href="{{ page.youtube }}" target="_blank">YouTube</a>
                </li>
            {% endif %}


            {% if page.instagram != " " %}
                <li>
                    <a class="info-profile-social-link" href="{{ page.instagram }}" target="_blank">Instagram</a>
                </li>
            {% endif %}
        </ul>

    </div>
</div>
