---
layout: default
---
<div class="profile-page-content">

    <h2 class="profile-page-name">{{ page.artist }}</h2>

    <img class="profile-page-image" src="{{ site.baseurl | append: '/images/artists/' | append: page.image }}"/>

    <div class="profile-page-text">{{ content }}</div>

    <div class="profile-page-divider"></div>

    <div class="profile-page-album-list">
        {% for album in site.albums %}
            {% if album.artist == page.artist %}
                <div class="profile-page-album">
                    <a href="{ {site.baseurl }}{{ album.url }}">
                        GZR-{{album.GZR | append: ": " | append: album.title}}
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="profile-page-divider"></div>

    <ul class="profile-page-social-links">
        {% if page.website != " " %}
            <li>
                <a class="profile-page-social-link" href="{{ page.website }}">Website</a>
            </li>
        {% endif %}


        {% if page.bandcamp != " " %}
            <li>
                <a class="profile-page-social-link" href="{{ page.bandcamp }}">Bandcamp</a>
            </li>
        {% endif %}


        {% if page.soundcloud != " " %}
            <li>
                <a class="profile-page-social-link" href="{{ page.soundcloud }}">SoundCloud</a>
            </li>
        {% endif %}


        {% if page.facebook != " " %}
            <li>
                <a class="profile-page-social-link" href="{{ page.facebook }}">Facebook</a>
            </li>
        {% endif %}


        {% if page.twitter != " " %}
            <li>
                <a class="profile-page-social-link" href="{{ page.twitter }}">Twitter</a>
            </li>
        {% endif %}


        {% if page.youtube != " " %}
            <li>
                <a class="artist-profile-social-link" href="{{ page.youtube }}">YouTube</a>
            </li>
        {% endif %}


        {% if page.instagram != " " %}
            <li>
                <a class="artist-profile-social-link" href="{{ page.instagram }}">Instagram</a>
            </li>
        {% endif %}
    </ul>

</div>
